{% load static %}
<!DOCTYPE html>
<html>
	<head>

		<meta charset="UTF-8">
		<title>母婴之家-让宝宝过得更好</title>
		<link rel="stylesheet" type="text/css" href="{%static 'css/goodsinfo.css'%}"/>
		<link rel="stylesheet" type="text/css" href="{%static 'css/footer.css'%}"/>
		<link rel="stylesheet" type="text/css" href="{%static 'css/goodsin_main.css'%}"/>
		
		<script src="{%static 'js/jquery-1.12.0.js'%}" type="text/javascript" charset="utf-8"></script>
		
		<script src="{%static 'js/jquery.cookie.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{%static 'js/goodsinfo.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{%static 'js/hover.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{%static 'js/daojishi.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{%static 'js/footer.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{%static 'js/remembergoods.js'%}" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				var nn = $.cookie("load") ? JSON.parse( $.cookie("load") ) : [];
				if(nn.name){
					$(".hellowword").html(nn.name + "&nbsp;&nbsp;欢迎来到母婴之家！");
					$(".denglu").hide();
					$(".zhuce").hide();
//					$("<a class='orange' >[退出] </a>");
					$(".header_top_box_right ul li").first().append($("<a class='orange exit' >[退出] </a>"));
				
					$(".exit").click(function(){
						$.cookie("load", "", {expires:0, path:"/"}); //清空cookie
						location.reload();
					})
				}
				
			})
		</script>
	</head>
	<body>
		<div class="banner_top">
			<a href="http://sale.muyingzhijia.com/act/688.html"><img src="{%static 'images/20160721152244_10_1920x100.jpg'%}"/></a>
		</div>
		<div class="header">
			<div class="header_top">
				<div class="header_top_box">
					<div class="header_top_box_left">
						<ul>
                            <li><a href="{% url 'app:index' %}">母婴之家</a></li>
							<li>母婴海淘</li>
							<li class="header_top_box_left_last-child"><span class="iphone"></span>手机版</li>
						</ul>
					</div>
					<div class="header_top_box_right">
						<ul>
							<!--<li><span>欢迎来到母婴之家！</span>&nbsp;&nbsp;<div><a class="orange" href="onload.html">[登录]</a>&nbsp;<a class="orange" href="register.html">[免费注册]</a></div></li>-->
							<li><span class="hellowword">&nbsp;欢迎来到母婴之家！</span>&nbsp;&nbsp;<div><a class="orange denglu" href="{% url 'app:onload' %}">[登录]</a>&nbsp;<a class="orange zhuce" href="{% url 'app:register' %}">[免费注册]</a></div></li>
							<li ><div class="header_top_box_right_div">我的订单<a class=".a"><i class="nav_right"></i></a></div>
								<ul id="drop_down_list1">
									<li>我的家</li>
									<li>我的提问</li>
									<li>我的评论</li>
									<li>我的收藏</li>
									<li>我的幸运星</li>
								</ul>
							</li>
							<li><div class="header_top_box_right_div">客户服务<a class=".a"><i class="nav_right"></i></a></div>
								<ul id="drop_down_list2">
									<li>在线客服</li>
									<li>客服中心</li>
								</ul>
							</li>
							<li><div>商务合作</div></li>
							<li><div class="header_top_box_right_div">网站导航<a class=".a"><i class="nav_right"></i></a></div>
								<ul id="drop_down_list3">
									<li>分类导航</li>
									<li>品牌导航</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="header_center">
				<div class="header_center_box">
					<div class="header_center_box_logo">
						<img src="{%static 'images/logo29new.png'%}"/>
					</div>
					
					<div class="header_center_box_search">
						<div class="search">
							<input type="text" name="" id="" value="" placeholder="搜索 母婴之家 商品/品牌"/>
							<button class="but"></button>
						</div>
						<ul id="hot_search">
							<li>热门搜索：</li>
						</ul>
					</div>
					
					<div class="goodsinfocar">

						<div class="goodsinfocar_left">
                            <a href="{% url 'app:goucar' %}">
                                <span class="thecar"></span>
                                购物车
                            </a>
						</div>
						<div class="goodsinfocar_right">
							<span id="countcarList">0</span>
						</div>
						<div id="willbuyList">
							<div class="nogoods">
                                <p><a href="{% url 'app:goucar' %}"><span></span>你的购物车还是空的，快去挑选你喜爱的商品吧</a></p>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="header_bottom">
				<div class="header_bottom_box">
					<a class="orange bold allgood">全部商品分类<i class="one"></i>
						<ul id="allGoodstype">
							<li><i class="ags_left"></i>妈妈专区<i class="ags_right"></i>
								<div id="allGoodstype_type1">
									<div id="allGoodstype_list">
										<div id="allGoodstype_list_box">
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
										</div>
									</div>
									<div id="allGoodstype_logo">
										<img src="{%static 'images/739.jpg'%}" alt="" />
										<img src="{%static 'images/1081.jpg'%}" alt="" />
										<img src="{%static 'images/1102.jpg'%}" alt="" />
										<img src="{%static 'images/257.jpg'%}" alt="" />
										<img src="{%static 'images/514.jpg'%}" alt="" />
										<img src="{%static 'images/28.jpg'%}" alt="" />
										<img src="{%static 'images/67.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/600.jpg'%}" alt="" />
										<img src="{%static 'images/188.jpg'%}" alt="" />
										<img src="{%static 'images/1449.jpg'%}" alt="" />
									</div>
								</div>

							</li>
							<li><i class="ags_left"></i>哺乳喂养<i class="ags_right"></i>
								<div id="allGoodstype_type1">
									<div id="allGoodstype_list">
										<div id="allGoodstype_list_box">
											<p class="bold">奶瓶</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
										</div>
									</div>
									<div id="allGoodstype_logo">
										<img src="{%static 'images/739.jpg'%}" alt="" />
										<img src="{%static 'images/1081.jpg'%}" alt="" />
										<img src="{%static 'images/1102.jpg'%}" alt="" />
										<img src="{%static 'images/257.jpg'%}" alt="" />
										<img src="{%static 'images/514.jpg'%}" alt="" />
										<img src="{%static 'images/28.jpg'%}" alt="" />
										<img src="{%static 'images/67.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/600.jpg'%}" alt="" />
										<img src="{%static 'images/188.jpg'%}" alt="" />
										<img src="{%static 'images/1449.jpg'%}" alt="" />
									</div>
								</div>
							</li>
							<li><i class="ags_left"></i>妈妈专区<i class="ags_right"></i>
								<div id="allGoodstype_type1">
									<div id="allGoodstype_list">
										<div id="allGoodstype_list_box">
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
										</div>
									</div>
									<div id="allGoodstype_logo">
										<img src="{%static 'images/739.jpg'%}" alt="" />
										<img src="{%static 'images/1081.jpg'%}" alt="" />
										<img src="{%static 'images/1102.jpg'%}" alt="" />
										<img src="{%static 'images/257.jpg'%}" alt="" />
										<img src="{%static 'images/514.jpg'%}" alt="" />
										<img src="{%static 'images/28.jpg'%}" alt="" />
										<img src="{%static 'images/67.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/600.jpg'%}" alt="" />
										<img src="{%static 'images/188.jpg'%}" alt="" />
										<img src="{%static 'images/1449.jpg'%}" alt="" />
									</div>
								</div>
							</li>
							<li><i class="ags_left"></i>妈妈专区<i class="ags_right"></i>
								<div id="allGoodstype_type1">
									<div id="allGoodstype_list">
										<div id="allGoodstype_list_box">
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
										</div>
									</div>
									<div id="allGoodstype_logo">
										<img src="{%static 'images/739.jpg'%}" alt="" />
										<img src="{%static 'images/1081.jpg'%}" alt="" />
										<img src="{%static 'images/1102.jpg'%}" alt="" />
										<img src="{%static 'images/257.jpg'%}" alt="" />
										<img src="{%static 'images/514.jpg'%}" alt="" />
										<img src="{%static 'images/28.jpg'%}" alt="" />
										<img src="{%static 'images/67.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/600.jpg'%}" alt="" />
										<img src="{%static 'images/188.jpg'%}" alt="" />
										<img src="{%static 'images/1449.jpg'%}" alt="" />
									</div>
								</div>
							</li>
							<li><i class="ags_left"></i>妈妈专区<i class="ags_right"></i>
								<div id="allGoodstype_type1">
									<div id="allGoodstype_list">
										<div id="allGoodstype_list_box">
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
										</div>
									</div>
									<div id="allGoodstype_logo">
										<img src="{%static 'images/739.jpg'%}" alt="" />
										<img src="{%static 'images/1081.jpg'%}" alt="" />
										<img src="{%static 'images/1102.jpg'%}" alt="" />
										<img src="{%static 'images/257.jpg'%}" alt="" />
										<img src="{%static 'images/514.jpg'%}" alt="" />
										<img src="{%static 'images/28.jpg'%}" alt="" />
										<img src="{%static 'images/67.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/600.jpg'%}" alt="" />
										<img src="{%static 'images/188.jpg'%}" alt="" />
										<img src="{%static 'images/1449.jpg'%}" alt="" />
									</div>
								</div>
							</li>
							<li><i class="ags_left"></i>妈妈专区<i class="ags_right"></i>
								<div id="allGoodstype_type1">
									<div id="allGoodstype_list">
										<div id="allGoodstype_list_box">
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
										</div>
									</div>
									<div id="allGoodstype_logo">
										<img src="{%static 'images/739.jpg'%}" alt="" />
										<img src="{%static 'images/1081.jpg'%}" alt="" />
										<img src="{%static 'images/1102.jpg'%}" alt="" />
										<img src="{%static 'images/257.jpg'%}" alt="" />
										<img src="{%static 'images/514.jpg'%}" alt="" />
										<img src="{%static 'images/28.jpg'%}" alt="" />
										<img src="{%static 'images/67.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/600.jpg'%}" alt="" />
										<img src="{%static 'images/188.jpg'%}" alt="" />
										<img src="{%static 'images/1449.jpg'%}" alt="" />
									</div>
								</div>
							</li>
							<li><i class="ags_left"></i>妈妈专区<i class="ags_right"></i>
								<div id="allGoodstype_type1">
									<div id="allGoodstype_list">
										<div id="allGoodstype_list_box">
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
										</div>
									</div>
									<div id="allGoodstype_logo">
										<img src="{%static 'images/739.jpg'%}" alt="" />
										<img src="{%static 'images/1081.jpg'%}" alt="" />
										<img src="{%static 'images/1102.jpg'%}" alt="" />
										<img src="{%static 'images/257.jpg'%}" alt="" />
										<img src="{%static 'images/514.jpg'%}" alt="" />
										<img src="{%static 'images/28.jpg'%}" alt="" />
										<img src="{%static 'images/67.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/600.jpg'%}" alt="" />
										<img src="{%static 'images/188.jpg'%}" alt="" />
										<img src="{%static 'images/1449.jpg'%}" alt="" />
									</div>
								</div>
							</li>
							<li><i class="ags_left"></i>妈妈专区<i class="ags_right"></i>
								<div id="allGoodstype_type1">
									<div id="allGoodstype_list">
										<div id="allGoodstype_list_box">
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
										</div>
									</div>
									<div id="allGoodstype_logo">
										<img src="{%static 'images/739.jpg'%}" alt="" />
										<img src="{%static 'images/1081.jpg'%}" alt="" />
										<img src="{%static 'images/1102.jpg'%}" alt="" />
										<img src="{%static 'images/257.jpg'%}" alt="" />
										<img src="{%static 'images/514.jpg'%}" alt="" />
										<img src="{%static 'images/28.jpg'%}" alt="" />
										<img src="{%static 'images/67.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/600.jpg'%}" alt="" />
										<img src="{%static 'images/188.jpg'%}" alt="" />
										<img src="{%static 'images/1449.jpg'%}" alt="" />
									</div>
								</div>
							</li>
							<li><i class="ags_left"></i>妈妈专区<i class="ags_right"></i>
								<div id="allGoodstype_type1">
									<div id="allGoodstype_list">
										<div id="allGoodstype_list_box">
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
											<p class="bold">孕妇内衣</p>
											<ul>
												<li>哺乳文胸</li>
												<li>内裤/生理裤/产检裤</li>
												<li>托腹裤/带</li>
											</ul>
										</div>
									</div>
									<div id="allGoodstype_logo">
										<img src="{%static 'images/739.jpg'%}" alt="" />
										<img src="{%static 'images/1081.jpg'%}" alt="" />
										<img src="{%static 'images/1102.jpg'%}" alt="" />
										<img src="{%static 'images/257.jpg'%}" alt="" />
										<img src="{%static 'images/514.jpg'%}" alt="" />
										<img src="{%static 'images/28.jpg'%}" alt="" />
										<img src="{%static 'images/67.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/614.jpg'%}" alt="" />
										<img src="{%static 'images/600.jpg'%}" alt="" />
										<img src="{%static 'images/188.jpg'%}" alt="" />
										<img src="{%static 'images/1449.jpg'%}" alt="" />
									</div>
								</div>
							</li>
						</ul>
					</a>					
					<a class="orange">首页</a>
					<a>幸运星期一</a>
					<a class="header_bottom_box_a1">直邮专区
						<ul class="header_bottom_box_ul">
							<li>欧洲直邮</li>
						</ul>
					</a>
					<a>品牌专区</a>
					<a>会员俱乐部</a>
					<span id="tip">
						<span class="tip_tu"></span>
						<a class="orange">谨防诈骗的安全提醒</a>
					</span>
				</div>
			</div>
		</div>
		<div class="right_nav">
			
			<div class="shopCar_box_list">
				<div class="shopCar_box_list_top">
					<h2>购物车</h2>
					<span class="user_close"></span>
				</div>
				<div class="right_nav_line"></div>
				<div class="shopCar_box_list_img">
					<div class="shopCar_box_list_img1">
						<img src="{%static 'images/cartdefault.jpg'%}" />
					</div>
					<p>你的购物车还是空的<br />去挑选喜爱的商品吧~</p>
				</div>
				<div class="right_nav_line"></div>
				<div class="shopCar_box_what">
					<div class="shopCar_box_what_top">
						<h2>你可能会喜欢</h2>
					</div>
					<div class="shopCar_box_maybelove"></div>
				</div>
			</div>
			
			
			<div class="userlogin">
				<span class="user-img"></span>
				<div id="userbox" class="b">
					<div class="userbox_box">
						<span class="user_close">
						</span>
						<div class="userbox_toux">
							<img src="{%static 'images/userimg.jpg'%}" />
						</div>
						<p>你好，母婴之家用户，请<a class="orange" href="{% url 'app:onload' %}">登录</a><a class="orange" href="{% url 'app:register' %}">注册</a></p>
					</div>
					<i class="jj"></i>
				</div>
			</div>
			<div class="shopCar">
				<a class="topline"></a>
				<div class="shopCar_box">
					<span class="shopCar_img">
					</span>
					
					<p>购<br>物<br>车<br></p>
					<br>
					
				</div>
				<a class="orange" id="num">（0）</a>
				<a class="topline"></a>
			</div>
			<div class="erweima">
				<span class="erweima_img">
					
				</span>
			</div>
			<div class="collect">
				<span class="collect_img">	
				</span>
				
				<div id="userbox" class="a">
					<div class="userbox_box">
						<span class="user_close">
						</span>
						<div class="userbox_toux">
							<img src="{%static 'images/userimg.jpg'%}" />
						</div>
						<p>你好，母婴之家用户，请<a class="orange">登录</a><a class="orange">注册</a></p>
					</div>
					<i class="jj"></i>
				</div>
				
			</div>
			<div class="service">
				<span class="service_img">
				</span>
					<p>在线</p><p>客服</p>
				<div class="c"><p>客服</p>
					<i class="jj"></i>
				</div>
			</div>
			
		</div>
		<div class="gotop">
			<div class="gotop_box">
				<span class="gotop_img">
			</span>
			<div class="d"><p>回到顶部</p>
				<i class="jj"></i>
			</div>
			</div>
			
		</div>
		
		<!--动态获取数据-->
		<div class="big">
			<div class="main">
				<div class="main_top">
					<b >首页</b>
					<span>></span>


                    {% for pa1 in goodsdetail %}
                         <a >{{ pa1.path1 }}</a>
                    {% endfor %}

					<span>></span>
					{% for pa2 in goodsdetail %}
                       <a >{{ pa2.path2 }}</a>
					{% endfor %}

					<span>></span>
					{% for na in goodsdetail %}
					    <a >{{ na.name }}</a>
					{% endfor %}



				</div>
				<div class="main_center">
					<div class="main_center_left">
						<div class="main_center_left_img" id="smallImg">
							<!--<img src="images/152831_01_01 (1).jpg" alt="" />-->
							<div id="smallArea" ></div>
{#                            aveimg#}
                            {% for aveg in avelist %}
                                <img src="{%static aveg %}">

                            {% endfor %}

						</div>
						<div id="bigArea">
							{% for bigg in biglist %}
                                <img src="{% static bigg %}" id="bigImg"/>
							{% endfor %}

{#                            bigimg#}
						</div>
						<div class="main_center_left_bottom">
							<span class="main_samll_list_left"></span>
							<ul class="listImg">
{#                                smallimg#}
                                {% for smallg in smalllist %}
                                    <li>
                                        <img src="{% static smallg %}" >
                                    </li>
                                {% endfor %}

								<!--<li>
									<img src="images/152831_01_01.jpg"/>
								</li>
								<li>
									<img src="images/152831_02_02.jpg"/>
								</li>
								<li>
									<img src="images/152831_02_03.jpg"/>
								</li>
								<li>
									<img src="images/152831_02_04.jpg"/>
								</li>
								<li>
									<img src="images/152831_02_05.jpg"/>
								</li>-->
							</ul>
							<span class="main_samll_list_right"></span>
						</div>
						<div class="sharebox">
							<div class="sharebox_one">
								<span class="sharebox_one_box1"></span>
								<span class="sharebox_one_box2"></span>
								<span class="sharebox_one_box3"></span>
								<span class="sharebox_one_box4"></span>
								<span class="sharebox_one_box5"></span>
								<span class="sharebox_one_box6"></span>
							</div>
							<div class="sharebox_collect"></div>
						</div>
					</div>
					<div class="main_center_center">
						<div id="name">
							<!--<h1>哈罗闪婴儿二合一500ml+mini七色小鸭（颜色随机） </h1>-->
							<!--<a href="#">天天特价10/8</a>-->

                            {% for na in goodsdetail %}
                               <h1>{{ na.name }} </h1>
                            {% endfor %}

                            {% for ac in goodsdetail %}
                                 <a href="#">{{ ac.active }}10/8</a>
                            {% endfor %}

						</div>
						<div class="reciprocal_goods">
							<strong>限时抢购，离促销结束还剩：</strong><span id="productinfo">00天<a class="hour"></a>时<a class="min"></a>分<a class="sec"></a>秒</span>
						</div>
						<div class="fahuo_chang">
							<i></i>
							<!--<a>母婴之家发货</a>-->
                            {% for ship in goodsdetail %}
                                <a>{{ ship.shipment }}</a>
                            {% endfor %}

						</div>
						<div class="choosegoods">
							<ul id="summary">
								<li id="summary_price">
									<div class="cuxiao st">促 销 价</div>
									<!--<strong class="p-price">￥99.00</strong>-->
                                    {% for meno in goodsdetail %}
                                       <strong class="p-price">￥{{ meno.menoy }}</strong>
                                    {% endfor %}

								</li>
								<li id="promotion">
									<div class="cuxiao st">促销信息</div>
									<div class="promotion_box">
										<div class="promotion_box_type">
											<span class="promotion_box_type_span"></span>
											<a href="">全场买就可以换购（海购商品除外）</a>
											<div class="showthechange">
												<a  id="show_change">展开查看<i></i></a>
												<a id="hide_change">收起<i></i></a>
											</div>
											<div class="probox">
												<ul class="chang_gift">
													<li>
														<a href="">
															<img src="{%static 'images/117299_01_01 (1).jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/4c70c8394c80ddd9_160X160.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/62673_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/64103_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/74674_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/92745_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/99584_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/99599_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/154683_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/152732_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/105882_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/3089_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/144178_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/117289_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/120648_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/155014_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/157758_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/ab1f870217060db5_160X160.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/c145939dede9cf1d_160X160.JPG'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/def5d828a687c9a0_160X160.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/117299_01_01 (1).jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/eceea1602aae0968_160X160.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/99599_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/19110_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													<li>
														<a href="">
															<img src="{%static 'images/62673_01_01.jpg'%}"/>
														</a>
														<b>￥1.00换购</b>
													</li>
													
												</ul>
												<div class="prom_right">
													<a class="prom_add"></a>
													<a class="prom_next"></a>
												</div>
												
											</div>
										</div>
									</div>
								</li>
								<li id="standrad">
									<div class="cuxiao st">规&nbsp;&nbsp;格</div>
									<div class="standrad_size">
										<ul>
											<!--<li class="standrad_size_select">
												<a>800g</a>
											</li>-->
                                            {% for sizes in sizelist %}
                                               <li class="standrad_size_select">
                                                 <a>{{ sizes }}</a>
                                               </li>
                                            {% endfor %}

										</ul>
									</div>


									<div class="cuxiao st">颜&nbsp;&nbsp;色</div>
									<div class="standrad_size">
										<ul>
											<!--<li class="standrad_size_select">
												<a>800g</a>
											</li>-->
                                            {% for col in colorlist %}
                                               <li class="standrad_size_select">
                                                 <a>{{ col }}</a>
                                               </li>
                                            {% endfor %}

										</ul>
									</div>
								</li>
								<li class="choose_amout">
									<div class="cuxiao st">&nbsp;&nbsp;</div>
									<div class="choose_amout_count">
										<div class="choose_num_box">
											<input type="text" name="" id="goodsnum" value="1" />
											<div class="choose_num_ul">
												<a class="choose_num_add"></a>
												<a class="choose_num_next"></a>
											</div>
										</div>
										<div class="addToCar"></div>
										<div class="iphonebuy"></div>
									</div>
								</li>
							</ul>
						</div>
						
						
					</div>
					<div class="main_center_right">
						<div class="certified_div">
							<span class="certified_span1">
								<i></i>
								<a href="">包邮说明</a>
							</span>
							<span class="certified_span2">
								<i></i>
								<a href="">正品保障</a>
							</span>
							<span class="certified_span3">
								<i></i>
								<a href="">售后服务</a>
							</span>
						</div>
						<div class="litter_logo">
							<img src="{%static 'images/96.jpg'%}"/>
						</div>
						<div class="comment">
							<div class="comment_num">
								25人评价
							</div>
							<div class="star">
								<i class="star_face"></i>
								<span id="score"></span>
							</div>
							<div class="goods_evaluate">
								<ul>
									<li>
										<div class="evaluate_urse">myzj***</div>
										<div class="evaluate_urse_comment">宝宝喜欢喝</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<div class="main_body">
					<div class="main_body_right">
						<div class="right_erweima">
							<div class="right_erweima_img">
								<img src="{%static 'images/api.png'%}" alt="" />
							</div>
							<p>手机下单有惊喜</p>
							<p>分享朋友更容易</p>
						</div>
						<div class="related_type">
							<div class="related_type_top">
								<h2>相关分类</h2>
							</div>
							<div class="related_type_barnd">
                                {% for ty in typelist %}
                                    <a href="#">{{ ty }}</a>
                                {% endfor %}

								<!--<a href="">诺优能</a><a href="">可瑞康</a>
								<a href="">诺优能</a><a href="">可瑞康</a>
								<a href="">诺优能</a><a href="">可瑞康</a>
								<a href="">诺优能</a><a href="">可瑞康</a>
								<a href="">诺优能</a><a href="">可瑞康</a>-->
							</div>
						</div>
						<div class="other_type">
							<div class="other_type_top">
								<h2>其他同类品牌</h2>
							</div>
							<div class="other_type_barnd">
                                {% for oth in otherlist %}
                                    <a href="#">{{ oth }}</a>
                                {% endfor %}

								<!--<a href="">惠氏</a><a href="">可瑞康</a>
								<a href="">多美滋</a><a href="">可瑞康</a>
								<a href="">诺优能</a><a href="">可瑞康</a>
								<a href="">诺优能</a><a href="">可瑞康</a>
								<a href="">诺优能</a><a href="">可瑞康</a>-->
							</div>
						</div>
						<div class="recently_view">
							<div class="recently_view_top">
								<h2>最近浏览</h2>
							</div>
							<div class="recently_view_barnd">
								<ul class="recently_view_barnd_list">
									<li>
										<div class="recently_view_img">
											<img src="{%static 'images/160068_01_01.jpg'%}" alt="" />
										</div>
										<p class="recently_view_what"><a href="">惠氏S-26铂臻幼儿乐3段（12-36月）800g</a></p>
										<p class="recently_view_price">￥255</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				
					<div class="main_body_left">
						<div class="main_body_details">
							
								<div class="details_top_top select_none">
									<ul>
										<li class="details_top_select"><a >商品介绍</a>
											
										</li>
										<li><a>商品评论<span class="orange">(25)</span></a></li>
										<li><a>商品资讯</a></li>
										<li><a>品质保障</a></li>
									</ul>
									
									<span class="details_top_goucar"></span>
								</div>
								
								
							
							<div class="B_baner">
								<div class="goods_details">
									<ul class="goods_details_list">
										<!--<li>商品名称：惠氏S-26铂臻幼儿乐3段（12-36月）800g</li>
										<li>奶粉阶段：3段</li>
										<li>产地：瑞士</li>
										<li>奶粉类型：幼儿奶粉</li>-->
                                        {% for list1 in intrlist1 %}
                                            <strong><li>{{ list1 }}</li></strong>
                                        {% endfor %}

									</ul>
								</div>
								<div class="details_goods_one">
                                    {% for list2 in intrlist2 %}
                                        <img src="{% static list2 %}" alt="">
                                    {% endfor %}
                                    
									<!--<img src="images/20160616145859_555_6360168610007242895525192.jpg" alt="" />-->
								</div>
								<div class="goods_comment">
									<div class="goods_comment_box">
										<h2>商品评价</h2>
										<div class="goods_comment_b">
											<div class="i-rate">
												<strong class="str">100</strong><span class="secord">%</span>
												<p>好评度</p>
											</div>
											<div class="persent">
												<dl>
													<dt>好评</dt>
													<dd>
														<div>
															<i class="value0"></i>
															<em id="value_1"></em>
														</div>
														<span id="goodvalue">(100%)</span>
													</dd>
												</dl>
												<dl>
													<dt>中评</dt>
													<dd>
														<div>
															<i class="value0"></i>
															<em id="value_2"></em>
														</div>
														<span id="avegoodvalue">(0%)</span>
													</dd>
												</dl>
												<dl>
													<dt>差评</dt>
													<dd>
														<div>
															<i class="value0"></i>
															<em id="value_3"></em>
														</div>
														<span id="novalue">(0%)</span>
													</dd>
												</dl>
											</div>
											<div class="other_new">
												<p>买家印象:</p>
												<div class="nocomment_img">
													<img src="{%static 'images/nocomment.png'%}" alt="" />
												</div>
											</div>
										</div>
										
									</div>
									<div class="goods_comment_pingjia">
										<div class="goods_comment_pingjia_top">
											<ul>
												<li class="goods_comment_pingjia_select"><a href="">全部评论<span id="com_all">(25)</span></a></li>
												<li><a href="">好评<span id="com_good">(25)</span></a></li>
												<li><a href="">中评<span id="com_ave">(0)</span></a></li>
												<li><a href="">差评<span id="com_no">(0)</span></a></li>
												<li><a href="">精华<span id="com_well">(0)</span></a></li>
											</ul>
										
										</div>
										<div class="comment_mod">
											<div class="comment_con">
												<div class="main-p">
													<div class="goods_comment_user">
														<div class="face">
															<img src="{%static 'images/level4.png'%}" alt="" />
														</div>
														<dl>
															<dt class="clearfix">                
																<span class="name">普通宝宝                    
																<a class="vip_color">muyi***</a></span> 
																<span class="date">2016-09-04 17:26:10</span>            
															</dt>
															<dd class="clearfix">
																<span class="type">评分：</span>                
																<span class="star1 s5"></span>                
																<div class="tag"></div>                
																<span class="see"><em>质量: 好 </em> </span>            
															</dd>
															<br />
															<dd class="clearfix">                
																<span class="type">内容：</span>                
																<span class="text">参加活动买的很划算哦</span>            
															</dd>
															<br />
															<dd class="praise clearfix">                                
																<span class="btn_praise prise_1" data-id="userFul_1162789+0">赞(<em id="userFuller_11627890">0</em>)</span>            
															</dd>
														</dl>
													</div>
													<div class="goods_comment_user">
														<div class="face">
															<img src="{%static 'images/level4.png'%}" alt="" />
														</div>
														<dl>
															<dt class="clearfix">                
																<span class="name">普通宝宝                    
																<a class="vip_color">muyi***</a></span> 
																<span class="date">2016-09-04 17:26:10</span>            
															</dt>
															<dd class="clearfix">
																<span class="type">评分：</span>                
																<span class="star1 s5"></span>                
																<div class="tag"></div>                
																<span class="see"><em>质量: 好 </em> </span>            
															</dd>
															<br />
															<dd class="clearfix">                
																<span class="type">内容：</span>                
																<span class="text">参加活动买的很划算哦</span>            
															</dd>
															<br/>
															<dd class="praise clearfix">                                
																<span class="btn_praise prise_1" data-id="userFul_1162789+0">赞(<em id="userFuller_11627890">0</em>)</span>            
															</dd>
														</dl>
													</div>
												</div>
											</div>
											
										</div>
										
									</div>
									<div class="all_pin">
										<a href="">[查看所有评论]</a>
									</div>
								</div>
								
								
								<div class="quality">
									<div class="quality_comment">
										<div class="quality_comment_top">
											<ul>
												<li class="quality_comment_select"><a href="">全部资询<span id="com_all">(1)</span></a></li>
												<li><a href="">商品<span id="com_good">(1)</span></a></li>
												<li><a href="">配送<span id="com_ave">(0)</span></a></li>
												<li><a href="">支付<span id="com_no">(0)</span></a></li>
												<li><a href="">发票<span id="com_well">(0)</span></a></li>
												<li><a href="">常见问题</a></li>
											</ul>
											
										</div>
										<div class="quality_comment_b">
												<div class="all_question">
													<p class="question_name">用&nbsp;&nbsp;户：普通宝宝 <span class="fonttime">2016/5/9 13:11:32</span></p>
													<p class="question_what">咨询内容：请问这个商品的深长日期是什么时候？谢谢！</p>
													<p class="anser">专业回复：你好！此商品我们有多款批次，仓库随机发货。感谢你对母婴之家的关注，谢谢！</p>
												</div>
										</div>
										
									</div>
									
									
								</div>
								<div class="quality_box">
									<h2>品质保障</h2>
									<p class="quality_tipe">
										温馨提示：详情请查看产品包装文字、说明书与保修卡，或致电母婴之家客服热线垂询。
									</p>
										
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!--数据获取结束-->
		<div class="details_top_top select_absouble">
			<ul>
				<li class="details_top_select"><a >商品介绍</a></li>
				<li><a >商品评论<span class="orange">(25)</span></a></li>
				<li><a >商品资讯</a></li>
				<li><a >品质保障</a></li>
			</ul>
									
			<span class="details_top_goucar"></span>
		</div>
		
		<div class="jumpbox">
			<div class="jumpbox_top">
				<div class="tipe">温馨提示</div>
				<div class="close_jumobox"></div>
			</div>
			<div class="jumpbox_center">
				<p><i></i>加入成功</p>
				<div class="count_button">
					<div class="count_shopping">继续购物</div>
					<div class="go_count">去结算</div>
				</div>
				
			</div>
		</div>

		<div class="footer">
			<div class="footer_one">
				<div class="footer_one_box">
					<ul class="footer_one_box_list">
						<li>
							<div class="footer_one_box_list_litop">
								<span></span><h2>品质</h2>
							</div>
							<div class="footer_one_box_list_libottom">
								<a>全球化采购，正品保证</a>
							</div>
						</li>
						<li>
							<div class="footer_one_box_list_litop  litop2">
								<span></span><h2>便捷</h2>
							</div>
							<div class="footer_one_box_list_libottom">
								<a>全球化采购，正品保证</a>
							</div>
						</li>
						<li>
							<div class="footer_one_box_list_litop litop3">
								<span></span><h2>专业</h2>
							</div>
							<div class="footer_one_box_list_libottom">
								<a>全球化采购，正品保证</a>
							</div>
						</li>
						<li>
							<div class="footer_one_box_list_litop litop4">
								<span></span><h2>贴心</h2>
							</div>
							<div class="footer_one_box_list_libottom">
								<a>全球化采购，正品保证</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		
			<div class="footer_two">
				<div class="footer_two_box">
					<ul class="footer_two_box_list1">
						<li>
							<ul class="footer_two_box_list2">
								<li><i></i>关于我们</li>
								<li>企业理念</li>
								<li>网站合作</li>
								<li>人才招聘</li>
								<li>关于我们</li>
							</ul>
						</li>
						<li>
							<ul class="footer_two_box_list2">
								<li><i></i>关于我们</li>
								<li>企业理念</li>
								<li>网站合作</li>
								<li>人才招聘</li>
								<li>关于我们</li>
							</ul>
						</li>
						<li>
							<ul class="footer_two_box_list2">
								<li><i></i>关于我们</li>
								<li>企业理念</li>
								<li>网站合作</li>
								<li>人才招聘</li>
								<li>关于我们</li>
							</ul>
						</li>
						<li>
							<ul class="footer_two_box_list2">
								<li><i></i>关于我们</li>
								<li>企业理念</li>
								<li>网站合作</li>
								<li>人才招聘</li>
								<li>关于我们</li>
							</ul>
						</li>
						<li>
							<ul class="footer_two_box_list2">
								<li><i></i>关于我们</li>
								<li>企业理念</li>
								<li>网站合作</li>
								<li>人才招聘</li>
								<li>关于我们</li>
							</ul>
						</li>
						<li>
							<ul class="footer_two_box_list2">
								<li><i></i>关于我们</li>
								<li>企业理念</li>
								<li>网站合作</li>
								<li>人才招聘</li>
								<li>关于我们</li>
							</ul>
						</li>
					</ul>
					<div class="weixin">
						<div class="weixin_logo">
							<img src="{%static 'images/weixin_code.jpg'%}"/>
						</div>
						<div><span class="weixin_logo_1"></span><span class="weixin_explan">扫一扫加微信</span></div>
					</div>
				</div>
			</div>
			
			<div class="footer_bottom">
				<div class="footer_bottom_box">
					<ul class="footer_bottom_list">
						<li class="hover-or">首页</li>
						<li > | </li>
						<li class="hover-or">公司简介</li>
						<li> | </li>
						<li class="hover-or">人才招聘</li>
						<li> | </li>
						<li class="hover-or">合作联系</li>
						<li> | </li>
						<li class="hover-or">企业理念</li>
					</ul>
					<p>Copyright©2003 - 2016 muyingzhijia.com All Rights Reserved&nbsp;&nbsp;沪ICP备09021709号</p>
					<a >
						<img src="{%static 'images/shanghai_industry.gif'%}" alt="" />
					</a>
					<p><span></span>沪公网安备&nbsp;&nbsp;31010402000751号</p>
				</div>
				
			</div>
		
		</div>
	</body>
</html>
