.footer{
	width: 100%;
}

.footer_one{
	width: 100%;
	background: #FF5C00;
	color: white;
	height: 105px;
}

.footer_one_box{
	width: 1240px;
	margin: 0 auto;
}

.footer_one_box_list{
	margin-left: 25px;
}

.footer_one_box_list li{
	float: left;
	margin: 30px 0 0 0;
	width: 303px;
}

.footer_one_box_list_litop span{
	display: inline-block;
	width: 33px;
	height: 33px;
	margin-right: 10px;
	vertical-align: top;
	cursor: pointer;
	background: url(../images/sprite215new.png) no-repeat -140px 0px;
}
.litop2 span{
	background-position: -140px -40px !important;
    width: 38px;
}
.litop3 span{
	background-position:-140px -80px !important;
}
.litop4 span{
	background-position:-140px -120px !important;
}

.footer_one_box_list_litop h2{
	display: inline-block;
}


.footer_one_box_list_libottom{
	font-size: 14px;
	font-weight: bold;
	margin-left:106px;
}


.footer_two{
	height: 150px;
	padding-top: 30px;
	width: 100%;
	background: #FFFFFF;
}

.footer_two_box{
	width: 1240px;
	margin: 0 auto;
	background: #DF2943;
}

.footer_two_box_list1{

}
.footer_two_box_list1 li{
	width: 146px;
	float: left;
	font-size: 12px;
	color: #666666;
	padding: 5px 0 5px 30px;
	cursor: pointer;
}
.footer_two_box_list1 li:hover{
	color: #FF5C00;
}
.footer_two_box_list2 li:first-child{
	font-size: 14px;
	color: #000000;
	padding:0;
}


.footer_two_box_list2 li i{
	width: 30px;
	height: 30px;
	display: inline-block;
    vertical-align: middle;
	background: url(../images/sprite215new.png) no-repeat -90px -160px;
}

.weixin{
	float: left;
}

.weixin_logo_1{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../images/weixin_icon.jpg) no-repeat;
	vertical-align: middle;
    margin-right: 10px;
}

.weixin_explan{
	display: inline-block;
	color: #000000;
	font-size: 12px;
}

.footer_bottom{
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

.footer_bottom_box{
	width: 1090px;
	text-align: center;
	margin: 0 auto;
	font-size: 12px;
	color: #666666;
}

.footer_bottom_list{
	width:1090px;
	text-align: center;
	margin: 0 auto;
	width: 333px;
}

.footer_bottom_list li{
	float: left;
	padding-right: 10px;
	
}

.footer_bottom_box p{
	display: inline-block;
	margin: 10px auto;
}

.footer_bottom_box a{
	display: block;
	height: 25px;
}

.footer_bottom_box p span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background:url(../images/ghs.png) no-repeat;
	vertical-align: sub;
    margin-right: 10px;
}

.hover-or{
	cursor: pointer;
}

.hover-or:hover{
	color: #FF5C00;
}
