/*.banner{*/
	/*width: 100%;*/
	/*background: url(../images/outerBg.png) no-repeat;*/
	/*background-size: 100%;*/
/*}*/
/* 头部轮播图部分*/
#topSwiper {
	/*background: url(../images/outerBg.png) no-repeat;*/
	/*background-size: 100%;*/
    overflow: hidden;
	padding: 0;
	margin: 0 auto;
	width: 1090px;
	position: relative;
	background: peachpuff;
	height: 400px;
}

#topSwiper .swiper-wrapper{
    width: 100%;
    height: 100%;
}
#topSwiper .swiper-wrapper a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
#topSwiper img{
    width: 100%;
    height: 100%;
}
#topSwiper .swiper-pagination{
    bottom: 0px;
}


/*#lunbo{*/
	/*padding: 0;*/
	/*margin: 0 auto;*/
	/*width: 1090px;*/
	/*overflow: hidden;*/
	/*position: relative;*/
	/*background: peachpuff;*/
	/*height: 400px;*/
/*}*/

/*#lunbo_list1{*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*padding: 0;*/
	/*margin: 0;*/
/*}*/
/*#lunbo_list1 li{*/
	/*float: left;*/
	/*!*height: 400px;*!*/
/*}*/

/*#lunbo_list2{*/
	/*position: absolute;*/
	/*bottom: 14px;*/
	/*right: 43%;*/
	/*border-radius:10px ;*/
	/*padding: 5px 0 5px 10px;*/
	/*background:rgba(0, 0, 0, 0.3);*/
/*}*/

/*#lunbo_list2 li{*/
	/*width: 13px;*/
	/*height: 13px;*/
	/*background: white;*/
	/*margin-right: 10px;*/
	/*border-radius: 50%;*/
	/*float: left;*/
/*}*/

.active{
	background: #FF5C00 !important;
}

#ad{
	position: fixed;
	bottom: 20px;
	left: 10px;
	display: none;
}

#ad_close{
	position: absolute;
	left: 100px;
	border: 1px solid #808080;
	background-color: #fff;
	display: block;
	cursor: pointer;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 14px;
	
}

#ad_two{
	width: 160px;
	
}

#ad_two img{
	width: 75%;
}


#ad #ad_ad{
	width: auto;
	height: auto;
	z-index: 2;
	position: absolute;
	border-radius: 0;
	/*bottom: undefined;*/
	bottom: -10px;
	left: 80px;
	cursor: pointer;
}



.right_nav{
	position: fixed;
	z-index: 4;
	right: 0;
	top: 0;
	width: 37px;
	height: 100%;
	background: white;
}

.right_nav div{
	position: relative;
}

.userlogin{
	width: 100%;
	height: 35px;
	margin: 100px 0 50px 0;
	text-align: center;
	cursor: pointer;
}



.user-img{
	display: inline-block;
	position: relative;
	top: 5px;
	width: 22px;
	height: 26px;
	background: url(../images/righticon.png) no-repeat 0px 2px;
}

.shopCar{
	height: 145px;
	width: 100%;
	font-size: 12px;
	text-align: center;
	margin-bottom: 20px;
	cursor: pointer;
}

.shopCar_box{
	width: 26px;
	margin: 0 auto;
	text-align: center;
	
}

.shopCar .orange{
	display: block;
	margin-bottom: 10px;
}

.shopCar_img{
	display: inline-block;
	margin: 10px 0 8px 0;
	width: 22px;
	height: 26px;
	background: url(../images/righticon.png) no-repeat 0px -22px;
}

.shopCar_box_list{
	
	height: 100%;
	
	padding: 0 10px;
	position: absolute !important;
	top: 0px;
	right: 37px;
	background: #fff;
	box-shadow: -7px 1px 10px rgba(31, 31, 31, 0.21);
	display: block;
	color: black;
	width: 260px;
	display: none;
}

.shopCar_box_list_top{
	width: 264px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 45px;
    line-height: 45px;
}

.shopCar_box_what_top h2{
	font-size: 16px;
	color: #666666;
	float: left;
	font-weight: normal;
}


.right_nav_line{
	border-bottom: 1px solid #eee;
    width: 264px;
    margin: 0 auto;
    overflow: hidden;
    
}

.shopCar_box_list_img{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.shopCar_box_what{
	margin-top: 10px;
	
}

.shopCar_box_list_top h2{
	font-size: 16px;
	color: #666666;
	float: left;
	font-weight: normal;
}

.shopCar_box_list_img p{
	color: #666666;
	font-size: 12px;
}

.mylist{
	width: 264px;
	margin-left: 10px;
	padding: 10px 0;
	overflow: hidden;
	border-bottom: 1px dashed #eaeaea;
}
.mylist_img{
	float: left;
	padding: 2px;
	border: 1px solid #eaeaea;
	margin: 0 10px 0 0;
}

.mylist_img img{
	width: 46px;
	height: 46px;
}

.mylist_into{
	float: left;
	text-align: left;
	width: 200px;
	font-size: 12px;
}
.cart-level-name{
	display: block;
	width: 165px;
	height: 36px;
	line-height: 18px;
	display: block;
	color: #666;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all;
}

.bb{
	width: 100%;
	color: black;
}
.cart-level-price{
	display: inline-block;
	font-weight: bold;
	color: #f90;
	float: left;
	font-size: 14px;
}
.cart-level-del{
	float: right !important;
	color: #f90;
}

.topline{
	display: block;
	width: 22px;
	border-top: 1px solid #eae5e1;
	zoom: 1;
	margin: 0 auto;
}

.whide{
	color: white;
}
.shopCar:hover{
	background: #FF5C00;
	color: #FFFFFF ;
}


.erweima{
	width: 100%;
	height: 30px;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
	margin-bottom: 30px;
}

.erweima_img{
	display: block;
	width: 22px;
	height: 27px;
	margin: 0 auto;
	background: url(../images/righticon.png) no-repeat 0px -48px;
}


.collect{
	width: 100%;
	height: 30px;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
	margin-bottom: 30px;

}

.collect_img{
	display: block;
	width: 22px;
	height: 27px;
	margin: 0 auto;
	background: url(../images/righticon.png) no-repeat 0px -73px;
}

.service{
	width: 100%;
/*	height: 30px;*/
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	margin-bottom: 50px;
	background: #FF5C00;
	font-size: 12px;
	color: #fff;
	height: 93px;

}

.service p{
	line-height: 20px;
}


.service_img{
	display: block;
	width: 22px;
	height: 27px;
	margin: 0 auto;
	background: url(../images/righticon.png) no-repeat -22px -100px;
	margin-bottom: 5px;
}

.gotop{
	position: fixed;
	z-index: 4;
	bottom: 0;
	right: 0;
	width: 37px;
	text-align: center;
	cursor: pointer;
	background: white;
	padding-bottom: 30px;
}

.gotop_box{
	padding-top: 5px;
	width: 35px;
	height: 30px;
}

.gotop_img{
	display: block;
	width: 22px;
	height: 27px;
	margin: 0 auto;
	background: url(../images/righticon.png) no-repeat 0px -128px;
}



#userbox{
	width: 300px;
	position: absolute;
	top: 0;
	right: 70px;
	background: #fff;
	box-shadow: -7px 1px 10px rgba(31, 31, 31, 0.21);
	display: none;
}
.c{
	padding: 5px 20px;
	position: absolute;
	top: -81px;
	right: 110px;
	background: #fff;
	box-shadow: -7px 1px 10px rgba(31, 31, 31, 0.21);
	display: block;
	color: black;
	width: 30px;
	display: none;
}
.c p{
	padding: 0;
	margin: 0;
}

.d{
	padding: 12px 10px;
    position: absolute;
    top: 0px;
    right: 87px;
    background: #fff;
    box-shadow: -7px 1px 10px rgba(31, 31, 31, 0.21);
    display: block;
    color: black;
    width: 50px;
    display: none;
}

.d p{
	padding: 0;
	margin: 0;
	font-size: 12px;
	 width: 50px;
}

.d p:hover{
	color: #FF5C00;
}
.userbox_box,.collectbox_box{
	width: 100%;
	font-size: 12px;
}

.jj{
	position: absolute;
	display: block;
	width: 13px;
	height: 13px;
	top: 10px;
	right: -5px;
	background: url(../images/whitearr.png) no-repeat right center;
}

.user_close,.collectbox_close{
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 15px;
	right: 24px;
	background: url(../images/rbclose.jpg) no-repeat;
	cursor: pointer;
}

.userbox_toux,.collectbox_toux{
	padding: 30px 0 0 0;
}

.userbox_box p,.collectbox_box p{
	height: 40px;
	width: 100%;
	line-height: 40px;
}

.moveNav{
	width: 100%;
	height: 45px;
	position: fixed;
	top: 0;
	background: #FFFFFF;
	z-index: 3;
	border:1px solid #FF5C00 ;
	border-top: none;
	display: none;
}

.moveNav_box{
	width: 1090px;
	height: 100%;
	margin: 0 auto;
}



.moveNav_box_logo{
	float: left;
	margin: 10px 20px 0 0;
}

.moveNav_box_list{
	float: left;
	display: inline-block;
	margin-left: 5px;
	font-size: 14px;
}

.moveNav_box_list li{
	float: left;
    padding: 0 15px;
    line-height: 45px;
	color: #FF5C00;
	font-weight: bold;
	cursor: pointer;
	border:1px solid white;
	border-top: none;
	border-bottom: none;
	position: relative;
}

.sellingLi{
	border:1px solid #FF5C00 !important;
	border-top: none !important;
	border-bottom: none !important;
}

.selling{
	width: 56px;
    position: absolute;
    left: -1px;
    padding: 0 15px;
    line-height: 45px;
    background: #FF5C00;
    color: white;
    border: 1px solid #FF5C00;
    display: none;
}


.moveNav_search{
	float: right;
	border: 2px solid #FF5C00;
	background: #FFFFFF;
	height: 37px;
	margin: 2px 0;
}

.moveNav_search input,.moveNav_search button{
	border: 0;
	outline: none;
	margin: 0;
	padding: 0;
}

.moveNav_search input{
	height: 36px;
	width: 350px;
	padding-left: 5px;
	color: black;
}

.moveNav_search button{
	width: 50px;
	height: 100%;
	background-color: #FF5C00 ;
}
