.gocar_tu {
	float: right;
	background: url('../images/cart-step1.png') no-repeat;
	width: 612px;
	height: 36px;
	margin-top: 22px;
}

.header_center {
	border-bottom: none;
}

.header_center_box {
	width: 1000px;
}

.mycar {
	width: 1000px;
	margin: 0 auto;
}

.mycar_tu h2 {
	font-size: 18px;
	font-weight: bold;
	color: #555;
	background: url('../images/gouwuche.png') 0 5px no-repeat;
	padding: 10px 43px;
	text-shadow: 0 1px 0 #fff;
}

.emptycar {
	width: 657px;
	height: 200px;
	margin: 0 auto;
	padding: 100px 58px 90px 285px;
	display: none;
}

.emptycar_box {
	width: 100%;
}

.emptycar_img {
	float: left;
	margin-right: 50px;
	width: 197px;
	height: 199px;
	background: url(../images/emptyCart.png) no-repeat;
}

.emptycar_text {
	float: left;
	margin: 25px 0 0 0;
}

.emptycar_text h1 {
	font-size: 25px;
}

.go_index {
	display: block;
	width: 120px;
	height: 50px;
	font-size: 23px;
	background: #ff598f;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	border-radius: 3px;
	cursor: pointer;
}

.go_index a {
	color: #FFFFFF;
}

.recommend {
	width: 1000px;
	margin: 0 auto;
}

.recommend_top {
	width: 100%;
	background: #f5f5f5;
	height: 48px;
	margin-top: 20px;
}

.recommend_top ul li {
	float: left;
	font-size: 16px;
	text-align: center;
	line-height: 47px;
	width: 100px;
	border: 1px solid #ddd;
	border-top: none;
}

.recommend_top ul .recommend_top_li_select {
	border: 1px solid white;
	border-top: none;
	border-bottom: none;
}

.recommend_top_li_select {
	background: #FFFFFF;
}

.recommend_top ul li a {
	color: #000;
	font-weight: bold;
}

.recommend_box {
	background: #FFFFFF;
	width: 100%;
	height: 320px;
}

.recommend_box span {
	display: inline-block;
	height: 40px;
	width: 25px;
}

.recommend_box_left {
	margin: 150px 0 0 5px;
	float: left;
	background: url(../images/cart_icon.png) no-repeat 0 -144px;
}

.recommend_box_right {
	margin: 150px 5px 0 0;
	float: right;
	background: url(../images/cart_icon.png) no-repeat -26px -144px;
}

.recommend_box_list {
	float: left;
	position: relative;
	height: 100%;
	width: 940px;
	/*	 background: #CC0004;*/
	overflow: hidden;
}

.recomm_list li {
	height: 100%;
	float: left;
	display: block;
	margin: 10px;
	height: 286px;
	border: 2px solid #fff;
	padding: 8px;
	padding-bottom: 0;
	width: 195px;
}

.recomm_list li:hover {
	border: 2px solid #FF5C00;
}

.recomm_list_box_img {
	text-align: center;
}

.recomm_list_box_name {
	font-size: 12px;
	width: 95%;
	text-align: center;
	height: 18px;
	line-height: 1.5;
	margin: 10px auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.recomm_list_box_name a {
	color: #000000;
}

.recomm_list_box_price {
	height: 20px;
	line-height: 1.5;
	margin: 0 auto;
	width: 95%;
	margin-top: 5px;
	text-align: center;
	font-size: 14px;
	color: #FF5C00;
}

.old_price {
	text-decoration: line-through;
	color: #CCCCCC;
	font-size: 10px;
}

.gotocar {
	display: block;
	margin: 10px auto 0;
	width: 80px;
	height: 28px;
	background: #ff5c00;
	line-height: 28px;
	text-align: center;
	color: #fff;
	border-radius: 3px;
	/*display: none;*/
}

.footer {
	margin-top: 20px;
	background: #FFFFFF;
}

.mygoodscar {
	width: 1000px;
	margin: 10px auto;
	border: 1px solid #d3d3d3;
	margin-bottom: 20px;
	box-shadow: 5px 9px 42px #e4e4e4;
}

.mygoodscar_top {
	widows: 980px;
	height: 44px;
	border-bottom: 1px solid #e5e5e5;
	background-color: #F8F8F8;
	position: relative;
	margin-bottom: -1px;
	padding: 0 30px;
}

.mygoodscar_top_left {
	float: left;
	width: 494px;
}

.mygoodscar_top span {
	display: inline-block;
}

.mygoodscar_top_left_title {
	line-height: 44px;
	font-size: 18px;
	font-weight: bold;
}

.mygoodscar_top_left_car {
	color: #777;
	font-size: 12px;
}

.mygoodscar_top_right span {
	float: left;
	text-align: center;
	line-height: 44px;
	font-size: 12px;
	color: #333;
}

.danjia {
	width: 149px;
}

.hownum {
	width: 102px;
}

.numcount {
	width: 125px;
}

.delete {
	width: 70px;
}

.cargoods {
	border-top: 1px solid #dfdfdf;
	padding: 8px 0 8px 40px;
	background-color: #fff;
	position: relative;
}

.cargoods li {
	position: relative;
	margin: 8px 8px 8px 0;
}

.cargoods_type_image {
	background-color: #fff;
	width: 60px;
	position: relative;
	height: 60px;
	text-align: center;
	border: 1px #e5e5e5 solid;
	border-radius: 2px;
	padding: 6px;
	background: #fff;
	display: inline-block;
}

.cargoods_type_image img {
	width: 60px;
	height: 60px;
}

.cargoods_type_title {
	font-size: 12px;
	color: #333333;
	display: inline-block;
	padding-left: 9px;
	width: 367px;
	padding-right: 12px;
	height: 74px;
	vertical-align: middle;
}

.cargoods_type span {
	display: inline-block;
	height: 74px;
	vertical-align: middle;
	text-align: center;
}

.cargoods_type_danjia {
	font-size: 12px;
	width: 149px;
}

.oldprice {
	color: #CCCCCC;
	text-decoration: line-through;
}

.cargoods_type_hownum {
	width: 102px;
}

.cargoods_type_hownum_box i {
	float: left;
	display: inline-block;
	width: 24px;
	height: 24px;
	color: #333;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
	border: 1px solid #c8c7cc;
	text-align: center;
	line-height: 24px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}

#num_mycar {
	float: left;
	width: 34px;
	height: 24px;
	line-height: 14px;
	border: 1px solid #c8c7cc;
	line-height: 24px\9;
	border-left: 0;
	border-right: 0;
	width: 34px;
	text-align: center;
	font-size: 14px;
	outline: none;
	font-weight: bold;
	font-family: Tahoma;
	margin: 0;
	padding: 0;
}

.cargoods_type_numcount {
	width: 125px;
}

.cargoods_type_numcount .newprice {
	color: #E60012;
	font-size: 12px;
	font-weight: bold;
}

.newprice i {
	font-style: normal;
}

.cargoods_type_delete {
	width: 70px;
	font-size: 12px;
	color: #333333;
	margin: 9px 0 0 0;
}

.cargoods_type_delete a {
	cursor: pointer;
}

.cargoods .evet_info {
	position: relative;
	margin: 0 auto;
	width: 862px;
	height: auto;
	background-color: #f0f9ff;
	padding: 8px 0;
	border: 1px solid #e4ecf2;
	border-radius: 2px;
	margin: 0 0 9px 66px;
}

.evet_info {
	position: relative;
}

.evet_info_active {
	width: 375px;
	padding-left: 9px;
	padding-right: 12px;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
}

.evet_info_active a {
	color: #0086dd;
}

.clear_box {
	display: inline-block;
	width: 100px;
	height: 16px;
}

.count_active {
	display: inline-block;
	font-size: 12px;
	color: #eb0012;
	width: 200px;
	text-align: center;
	vertical-align: middle;
}

.ball,
.ball_top {
	display: inline-block;
	position: absolute;
}

.ball {
	width: 23px;
	height: 28px;
	left: -41px;
	top: 32%;
	margin-top: -9px;
	z-index: 2;
	background: url("../images/cart_icon.png") no-repeat -64px -114px;
}

.ball_top {
	width: 2px;
	height: 47px;
	background-color: #e5e5e5;
	position: absolute;
	left: -31px;
	top: -39px;
}

.check_box {
	border-top: 1px solid #e5e5e5;
	height: 40px;
	line-height: 40px;
	background-color: #f8f8f8;
}

.check_box span {
	font-size: 12px;
	display: inline-block;
}

.clearBox {
	width: 1000px;
	margin: 0 auto;
	border-top: 1px solid #e5e5e5;
	height: 55px;
	background-color: #f8f8f8;
	position: relative;
}

#allclear {
	/*display: block;*/
	left: 58px;
	top: -80px;
}

.clearcar {
	cursor: pointer;
}

.clearBox .clearcar {
	font-size: 12px;
	color: #666666;
	text-decoration: underline;
	padding: 0 30px;
	line-height: 55px;
	color: #0086dd;
}

.check_box_text {
	width: 598px;
	text-align: right;
}

.check_box_n {
	text-align: right;
	width: 135px;
}

.check_box_nun {
	width: 146px;
	text-align: center;
	color: #e60012;
	font-weight: bold;
}

.couno_are {
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
	border: 1px solid #cecece;
	border-bottom: none;
	background-color: #fff;
	box-shadow: 5px 9px 42px #e4e4e4;
}

.couno_are_top {
	padding: 10px 0;
	border-bottom: 1px solid #CECECE;
}

.couno_are_top span {
	display: inline-block;
	vertical-align: middle;
}

.number2 {
	width: 230px;
	height: 14px;
	line-height: 14px;
	border: 1px solid #c8c7cc;
	border-right: 0;
	text-align: left;
	font-size: 14px;
	outline: none;
	font-weight: bold;
	font-family: Tahoma;
	margin-left: 55px;
	padding: 11px 5px;
	color: #A7A7A7;
}

.yong {
	width: 80px;
	height: 38px;
	color: #fff;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
	background: #ff5c00;
	text-align: center;
	line-height: 38px;
	font-family: "Microsoft YaHei";
	font-size: 16px;
	outline: none;
	margin-left: -5px;
}

.couno_are_top_text {
	font-size: 12px;
	width: 351px;
	text-align: right;
}

.allnum {
	font-size: 12px;
	width: 142px;
	text-align: center;
	color: #e60012;
	font-weight: bold;
}

.a-m {
	float: right;
	width: 800px;
}

.a-m span {
	display: inline-block;
	vertical-align: middle;
}

.a-m-all {
	float: right;
	line-height: 4;
	vertical-align: middle;
	font-size: 14px;
	font-size: 12px;
	color: #333;
}

.a-m-all i {
	color: #FF5C00;
	font-size: 14px;
	font-style: normal;
	margin: 0 3px;
}

.a-m-menoy {
	float: right;
	vertical-align: middle;
	font-size: 28px;
	color: #e60012;
	margin: 0 15px;
	line-height: 2;
}

.a-m-a {
	float: right;
}

.a-m-a a {
	height: 55px;
	width: 145px;
	line-height: 55px;
	font-size: 20px;
	text-align: center;
	color: #fff;
	display: inline-block;
	background: #ff5c00;
	font-weight: bold;
}

.delete_goods {
	position: absolute;
	background: #fff;
	width: 198px;
	left: 693px;
	top: -60px;
	font-size: 12px;
	padding: 4px;
	text-align: center;
	color: #333;
	z-index: 12;
	overflow: hidden;
	border: 3px solid #E9E9E9;
	border-radius: 2px;
	display: none;
}

.delete_goods p {
	padding: 10px 0;
}

.delete_goods_button button {
	outline: none;
	width: 50px;
	height: 26px;
	cursor: pointer;
}

.button_one {
	color: #FFFFFF;
	font-size: 12px;
	border: none;
	background: #FF5C00;
	margin-right: 10px;
}

.button_two {
	color: #FFFFFF;
	font-size: 12px;
	border: none;
	background: #CCCCCC;
}