div,li,ul,span,i,body,html,p,img,h3,h2,a{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family:"微软雅黑" ;
	border: 0;
	text-decoration: none;
}
body,html{
	position: relative;
	width: 100%;
	background: #E9E9E9;;
}
.banner_top{
	overflow: hidden;
}

.banner_top img{
	width: 100%;
	display:block; 
	cursor: pointer;
	
}

.header{
	width: 100%;
	/*height: 30px;*/
	/*overflow: hidden;*/
}
.header_top{
	width: 100%;
	background: url(../images/top-navbg.png) repeat-x;
	height: 42px;
/*	overflow: hidden;*/
}

.header_top_box{
	margin: 0 auto;
	width: 80%;
	min-width: 1000px;
	/*background: red;*/
	height: 42px;
	min-width: 1000px;
	
}
.header_top_box_left{
	float: left;
	height: 100%;
	padding-top: 4px;
	font-size: 14px;
	font-weight: bold;
}
.header_top_box_left ul{
	height: 100%;
}

.header_top_box_left li{
	float: left;
	height: 36px;
	width: 98px;
	text-align: center;
	line-height: 36px;
	border-right:1px solid #e7e7e7 ;
	cursor: pointer;
}


.header_top_box_left_li2{
	float: left;
	height: 36px;
	width: 98px;
	text-align: center;
	line-height: 36px;
	border:1px solid #ff5c00 !important;
	background: white;
	cursor: pointer;
}

.header_top_box_left li:first-child{
	border:1px solid #e7e7e7 ;
	background: white;
	color: #ff5c00;
}


.iphone{
	display: inline-block;
	width: 13px;
	height: 20px;
	background: url(../images/sprite215new.png) no-repeat -320px -240px;
	vertical-align: sub;
	margin-right: 10px;
}

.iphone2{
	background: url(../images/sprite215new.png) no-repeat -320px -265px;
}

.header_top_box_right{
	float: right;
	font-size: 12px;
	padding-top: 13px;
	text-align: center;

}

.header_top_box_right li{
	float: left;
	padding: 0 6px;
	text-align: center;
	border-right: 1px solid #ccc;
	position: relative;
	
}

.header_top_box_right li div{
	display: inline-block;
	cursor: pointer;
}

.header_top_box_right li:last-child{
	border: none;
}

.orange{
	color: #ff5c00 !important;
}

.header_top_box_right li .a{
	width: 15px;
	display: inline-block;
	position: absolute;
	margin: 0 3px;
	
} 


.header_top_box_right_li{
	border: 1px solid #FF9900 !important;
	background: #FFFFFF;
	border-bottom: none ;
	margin: 0;
	padding: 0 3px;
	height: 30px;
/*	width: 55px;*/
}


.nav_right{
	width: 0;
	height: 0;
	border-top: 4px solid #666666;
	border-left:4px solid transparent ;
	border-right:4px solid transparent ;
	position: relative;
	top: 10px;
}

.nav_right2{
	border-bottom: 4px solid #ff5c00;
	border-top:none ;
	top: -10px;
}

#drop_down_list1,#drop_down_list2,#drop_down_list3{
	background-color: #ffffff;
	position: absolute;
	border: 1px solid #FF9900;
	text-align: left;
	padding: 4px 0px 2px;
	width: 68px;
	top: 28px;
	left: -1px;
	line-height: 21px;
	display: none;
	border-top: none;
}

#drop_down_list2{
	width: 85px;
}

#drop_down_list1 li,#drop_down_list2 li,#drop_down_list3 li{
	float: none;
	text-align: left;
	padding: 0  0 0 3px;
	/*text-align: center;*/
	cursor: pointer;
	border: none;
}

.header_center{
	width: 100%;
	padding:20px 0;
	border-bottom: 1px solid #CCCCCC;
	overflow: hidden;
}

.header_center_box{
	width: 80%;
	min-width: 1000px;
	margin: 0 auto;

}

.header_center_box_logo{
	float: left;
	padding-top: 10px;
	width:150px ;
	height: 55px;
	cursor: pointer;
	
}

.header_center_box_resgin{
	text-align: center;
	margin-left:90px ;
	float: left;
	height:63px;
}

.header_center_box_resgin  a{
	display: inline-block;
	margin-right:20px ;
	cursor: pointer;
}

.header_center_box_resgin span{
	display: inline-block;
	width: 42px;
	height: 42px;
}
.header_center_box_resgin p{
	font-size: 12px;
	color: #707070;
}
.header_center_box_resgin_span1{
		background: url(../images/top_bar2.png) no-repeat -86px -103px;
}

.header_center_box_resgin_span2{
		background: url(../images/top_bar2.png) no-repeat -43px -103px;
}
.header_center_box_resgin_span3{
		background: url(../images/top_bar2.png) no-repeat -0px -103px;
}

.header_center_box_search{
	float: right;

}
.search{
	border: 2px solid #ff5c00;
	height: 34px;
	background: #ff5c00;
	
}
.search input{
	width: 429px;
	height: 22px;
	border: none;
	outline: none;
	padding: 6px;
	
}
.but{
	height: 100%;
	width: 59px;
	margin: 0;
	float: right;
	border: none;
	cursor: pointer;
	background: url(../images/newIndexIcon.png) 15px -77px no-repeat
	
}

#hot_search{
	margin-top: 10px;
}
#hot_search li{
	float: left;
	font-size:12px ;
	color: #707070;
	margin-right: 5px;
	cursor: pointer;
}
#hot_search li:hover{
	color: #FF5C00;
}

#hot_search li:first-child:hover{
	color: #707070;
}

.header_bottom{
	height: 35px;
	width: 100%;
	background: white;
}

.header_bottom_box{
	width: 80%;
	min-width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.bold{
	font-weight: bold;
}

.header_bottom_box a{
	float: left;
	display: block;
	text-indent: 17px;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	padding-right: 25px;
	position: relative;
	cursor: pointer;
	
}
.header_bottom_box a:first-child{
	width: 152px;
}

.one{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 8px;
	vertical-align: sub;
	background: url(../images/top_bar2.png) no-repeat -110px -65px;
}

.header_bottom_box_ul{
	position: absolute;
	top: 30px;
	left: -1px;
	background: #ffffff;
	height: 35px;
	padding-right: 23px;
	border: 1px solid #FF5C00;
	border-top: none;
	width: 75px;
	display: none;
	z-index: 3;
}

.header_bottom_box_a1:hover{
	border-left:1px solid #FF5C00 ;
	border-right: 1px solid #FF5C00;
	
}
#tip{
	float: right;
	display: inline-block;
	width: 250px;
	float: right;
	height: 35px;
	text-align: left;
	line-height: 35px;
	font-size: 12px !important;
	position: relative;
}

.tip_tu{
	float: left;
	display: inline-block;
	height: 25px;
	width: 30px;
	margin-top: 5px;
	background: url(../images/top_bar2.png) -136px -65px no-repeat;
}

#tip a{
	position: relative;
	top: 0;
}

#allGoodstype{
	top: 0px;
	float: none;
	width: 154px;
	color: black;
	font-size: 12px;
	margin: 0;
	background: #ffffff;
	padding:0;
	color: #666;
	display: none;
	position: relative;
	z-index: 3;
}

#allGoodstype>li{
	width: 100%;
	background: white;
	height: 35px;
	text-align: left;
	line-height: 35px;
	margin: 0;
	padding: 0;
	border: 1px solid #FFFFFF;
	font-weight: normal;
}
#allGoodstype>li:hover{
	height: 35px;
	width: 156px;
	border: 1px solid #FF5C00;
	border-right: 1px solid #FFFFFF;
	color: #FF5C00;
}

.ags_left{
	/*float: left;*/
	display: inline-block;
	height: 16px;
	width: 12px;
	background: url(../images/top_bar2.png) no-repeat -114px 0px;
	vertical-align: sub;
	margin-right: 20px;
}

.ags_right{
	display: inline-block;
	height: 9px;
	width: 6px;
	background: url(../images/xinmayup.png) no-repeat -117px -84px;
	vertical-align: sub;
	margin-left: 20px;
}

#allGoodstype_type1{
	color: #666;
	position: absolute;
	top:0;
	left: 155px;
	background: #FFFFFF;
	width: 948px;
	min-height: 349px;
	border: 1px solid #ff5c00;
	display: none;
	
}

#allGoodstype_list{
	display: block;
	width: 735px;
}

#allGoodstype_list_box{
	padding: 9px 30px;
	border-right:1px dotted #e4e4e4;
}

#allGoodstype_list_box p:hover{
	color: #FF5C00;
}
#allGoodstype_list_box ul,#allGoodstype_list_box li{
	height: 30px;
	margin: 0;
	padding: 0;
}

#allGoodstype_list_box li{
	float: left;
}

#allGoodstype_list_box li:hover{
	color: #FF5C00;
}

#allGoodstype_list_box p{
	border-bottom:1px dotted #e4e4e4;
}

#allGoodstype_logo{
	display: block;
	width: 212px;
	position: absolute;
	top: 0;
	right: 0;
}

#allGoodstype_logo img{
	float: left;
	width: 80px;
	height: 35px;
	margin: 10px 13px;
}
.curtain{
	z-index: 2;
	width: 100%;
	height: 26px;
	position: absolute;
	background: url(../images/nav_bottom_bg.png) repeat-x;
}
