div,li,ul,span,i,body,html,p,img,h3,h2,a{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family:"微软雅黑" ;
	border: 0;
	text-decoration: none;
}
body,html{
	position: relative;
	width: 100%;
	background: #E9E9E9;;
}
.banner_top{
	overflow: hidden;
}

.banner_top img{
	width: 100%;
	display:block; 
	cursor: pointer;
	
}

.header{
	width: 100%;

}
.header_top{
	width: 100%;
	background: url(../images/top-navbg.png) repeat-x;
	height: 42px;
}

.header_top_box{
	margin: 0 auto;
	width: 80%;
	min-width: 1000px;
	/*background: red;*/
	height: 42px;
	min-width: 1000px;
	
}
.header_top_box_left{
	float: left;
	height: 100%;
	padding-top: 4px;
	font-size: 14px;
	font-weight: bold;
}
.header_top_box_left ul{
	height: 100%;
}

.header_top_box_left li{
	float: left;
	height: 36px;
	width: 98px;
	text-align: center;
	line-height: 36px;
	border-right:1px solid #e7e7e7 ;
	cursor: pointer;
}


.header_top_box_left_li2{
	float: left;
	height: 36px;
	width: 98px;
	text-align: center;
	line-height: 36px;
	border:1px solid #ff5c00 !important;
	background: white;
	cursor: pointer;
}

.header_top_box_left li:first-child{
	border:1px solid #e7e7e7 ;
	background: white;
	color: #ff5c00;
}


.iphone{
	display: inline-block;
	width: 13px;
	height: 20px;
	background: url(../images/sprite215new.png) no-repeat -320px -240px;
	vertical-align: sub;
	margin-right: 10px;
}

.iphone2{
	background: url(../images/sprite215new.png) no-repeat -320px -265px;
}

.header_top_box_right{
	float: right;
	font-size: 12px;
	padding-top: 13px;
	text-align: center;

}

.header_top_box_right li{
	float: left;
	padding: 0 6px;
	text-align: center;
	position: relative;
	border: 1px solid #f3f1f3;
	
	
}

.header_top_box_right_odd{
	padding: 0 !important;
	margin: 0 5px !important;
}

.header_top_box_right li div{
	display: inline-block;
	cursor: pointer;
}


.orange{
	color: #ff5c00 !important;
}

.header_top_box_right li .a{
	width: 15px;
	display: inline-block;
	position: absolute;
	margin: 0 3px;
	
} 


.header_top_box_right_li{
	border: 1px solid #FF9900 !important;
	background: #FFFFFF;
	border-bottom: none ;
	margin: 0;
	padding: 0 3px;
	height: 30px;
/*	width: 55px;*/
}


.nav_right{
	width: 0;
	height: 0;
	border-top: 4px solid #666666;
	border-left:4px solid transparent ;
	border-right:4px solid transparent ;
	position: relative;
	top: 10px;
}

.nav_right2{
	border-bottom: 4px solid #ff5c00;
	border-top:none ;
	top: -10px;
}

#drop_down_list1,#drop_down_list2,#drop_down_list3{
	background-color: #ffffff;
	position: absolute;
	border: 1px solid #FF9900;
	text-align: left;
	padding: 4px 0px 2px;
	width: 68px;
	top: 28px;
	left: -1px;
	line-height: 21px;
	display: none;
	border-top: none;
}

#drop_down_list2{
	width: 85px;
}

#drop_down_list1 li,#drop_down_list2 li,#drop_down_list3 li{
	float: none;
	text-align: left;
	padding: 0  0 0 3px;
	/*text-align: center;*/
	cursor: pointer;
	border: none;
}

.header_center{
	width: 100%;
	padding:20px 0;
	border-bottom: 1px solid #CCCCCC;
	overflow: hidden;
	background: #FFFFFF;
}

.header_center_box{
	width: 80%;
	min-width: 1000px;
	margin: 0 auto;

}

.header_center_box_logo{
	float: left;
	padding-top: 10px;
	width:150px ;
	height: 55px;
	cursor: pointer;
	
}

.register_center{
	width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
}


.register_cut{
	margin-left: 200px;
}

.register_cut a{
	display: inline-block;
	width: 240px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #CCCCCC;
	border-bottom: none;
	border-top: none;
	margin-right: 10px;
	cursor: pointer;
	
}

.register_cut span{
	display: inline-block;
	width: 36px;
	height: 23px;

}

.register_cut_span1{
	background: #FFFFFF;
	color: #FF5C00;
	border-top: 3px solid #FF5C00 !important;
}

.register_cut_span2{
	border-top: 1px solid #CCCCCC !important;
}

.registe{
	background: url(../images/register.png) no-repeat;
	background-position: -187px -2px;
	vertical-align: sub;
	
}

.onload{
	background: url(../images/register.png) no-repeat;
	background-position: -216px -8px;
	vertical-align: middle;
	
}

/*.register{*/
    /*!*width: 100%;*!*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*background: whitesmoke;*/
/*}*/
/*.register form{*/
    /*padding: 0 1rem;*/
/*}*/
/*.register form .input-group{*/
    /*margin: 0.5rem 0;*/
/*}*/
/*.error{*/
    /*margin-left:2rem;*/
    /*font-size: 0.8rem;*/
    /*color: #e62e2e;*/
    /*display: none;*/
/*}*/

/*.register i{*/
    /*color: red;*/
    /*font-size: 0.8rem;*/
/*}*/

/*#subButton {*/
    /*width: 100%;*/
/*}*/

/*.register .back{*/
    /*text-align: right;*/
/*}*/
/*.register .back a{*/
    /*font-size: 1.5rem;*/
/*}*/

.register_box{
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding-top: 30px;
	margin-bottom: 30px;
	overflow: hidden;
}

.register_box_left{
	width: 58%;
	display: inline-block;
	float: left;
}


.register_box_left li{
	padding: 5px;
	margin-bottom: 20px;
	position: relative;
}

li label{
	display: inline-block;
	text-align: right;
	color: #666666;
	font-size:12px ;
	width: 155px;
	margin-right: 5px;
}

.register_box_left div{
	display: inline-block;
	border: 1px solid #CCCCCC;
	padding: 3px;
}

.input_hover{
	border: 1px solid #FF9900 !important;
	box-shadow: 0 1px 1px
	rgba(0,0,0,0.075) inset,0 0px 8px
	rgba(255,120,0,0.6) !important;
	
	
}
.register_box input{
	border: none;
	outline:none;
	height: 20px;
	width: 239px;
	padding: 0;
	margin: 0;
}

.register_box_left div span{
	display: inline-block;
	width: 34px;
	height: 27px;
	vertical-align: middle;
	
}

.registe_iphone{
	
	background: url(../images/register.png) no-repeat -120px -4px;
}

.registe_parssword{
	background: url(../images/register.png) no-repeat -153px -4px;
}


#error_iphone1,#error_iphone2,#error_iphone3,#error_iphone4,#error_iphone6,#error_iphoneE{
	font-size: 12px;
	position: absolute;
	border: 1px solid #ff9900 !important;
	background: #ffedb5;
    color: #e60000;
    border-radius: 3px;
    top: 42px;
    left: 169px;
    display: none;
}


#error_iphone1 b,#error_iphone2 b,#error_iphone3 b,#error_iphone4 b,#error_iphone6 b,#error_iphoneE b{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: bottom;
    margin-right: 5px;
	background: url(../images/onError.gif) no-repeat;
}


#error_iphone12,#error_iphone22,#error_iphone32,#error_iphone42,#error_iphone62{
	position: absolute;
    top: 42px;
    left: 169px;
    border: none;
    display: none;
    font-size:12px ;
    color: #42b91e;
}

#error_iphone12 b,#error_iphone22 b,#error_iphone32 b,#error_iphone42 b,#error_iphone62 b{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: bottom;
    margin-right: 5px;
    
	background: url(../images/onSuccess.gif) no-repeat -3px -4px;
}

.register_box .registe_yzm input,.register_box .registe_iphoneyzm input{
	width: 90px;
}


#error_parssword{
	font-size: 12px;
	position: absolute;
    color: #FFFFFF;
    top: 42px;
    left: 169px;
    border: none;
    margin: 0;
    padding: 0;
    display: none;
}

#error_parssword span{
	display: inline-block;
	width: 60px;
	height: 20px;
	text-align: center;
	color: white;
	line-height: 20px;
	margin-right: -2px;
}

.error_parssword_one,.error_parssword_two,.error_parssword_three{
	background: #808080;
}

#gainword{
	height: 31px;
    width: 113px;
    margin-left: 10px;
    border: none;
    margin-top: 3px;
    cursor: pointer;
    outline: none;
    vertical-align: bottom;
    background: url(../images/register.png) no-repeat;
}

.registe_protocol{
	
	font-size: 12px;
	border: none !important;
}
.registe_protocol input{
	display: inline-block;
	width: 15px;
	height: 15px;
    vertical-align: middle;
    margin-right: 5px;
}

.registe_protocol p{
	display: inline-block;
}

.registe_protocol span{
	display: inline-block !important;
	width: 200px !important;
	vertical-align: text-top !important;
	cursor: pointer;
}

.registe_protocol span:hover{
	color: #FF5C00;
}
#tijiao1{
	    width: 228px;
    height: 34px;
    border: none;
    cursor: pointer;
   background: url(../images/register.png) no-repeat 0 -31px;
}

#registe_protocol_li{
	margin-bottom: -10px;
}

#paner{
	font-size: 12px;
	border: none;
}
#paner p span{
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

#paner_one{
	background: url(../images/register.png) no-repeat -2px -301px;
}

#paner_two{
	background: url(../images/register.png) no-repeat -28px -301px;
}
#paner_three{
	background: url(../images/register.png) no-repeat -57px -301px;
}


.register_box_right{
	display: inline-block;
	width: 35%;
	height: 300px;
	float: left;
}



#idcode{
	display: inline-block;
	width: 100px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	background: #CCCCCC;
	cursor: pointer;
	margin-right: 5px;
}

.chang_idcode{
	font-size: 12px;
}
.chang_idcode span{
	color: #1098EC;
	cursor: pointer;
}
